/* body-----------------------------
----------------------------------------*/
body {
    font: 12px/18px Arial, sans-serif;
}

#wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2%;
}

h1 {
    font-size: 3.5em;
    font-weight: 800;
    margin: 1em 0;
}

h2 {
    font-size: 1.5em;
    margin: 1em 0;
    font-weight: 600;
}

/* navigation-----------------------------
----------------------------------------*/

#nav-icon {
    text-align: right;
    font-size: 1.3em;
    padding: 2%;
}

#nav-icon a {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

#nav-desktop {
    display: none;
}

#nav-mobile {
    text-align: center;
    font-size: 1.3em;
    color: #fff;
}

#nav-mobile li {
    padding: 0.8em;
    border-bottom: 0.05em solid;
}

#nav-mobile a {
    color: #fff;
}

nav a {
    text-decoration: none;
    padding: 3%;
}


/* Header---------------------------------
-----------------------------------------*/
header {
    height: auto;
    background: #fff;
}


/* Middle
------------------------------------------
----------------------------------------*/
main {
    background-color: #fff;
    overflow: auto;
}

article {
    padding: 1%;
}

img {
    width: 100%;
}


/* Footer
------------------------------------------
----------------------------------------*/
footer {
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
}


/* 480px -----------------------------------
----------------------------------------- */
@media only screen and (min-width: 480px) {

    #nav-desktop {
        display: block;
        text-align: right;
        font-size: 1.3em;
    }

    #nav-desktop a {
        color: #000;
    }

    #nav-desktop li {
        display: inline;
    }

    #nav-desktop li a:hover {
        text-decoration: underline;
    }

    #nav-icon {
        display: none;
    }

    #nav-mobile {
        display: none;

    }

    @media only screen and (min-width: 375px) {

        .article1 {
            width: 100%;
            float: left;
        }

        .article2 {
            width: 47%;
            float: left;
            border-left: 0.05em solid;
        }

        .article3 {
            width: 47%;
            float: left;
            border-left: 0.05em solid;
            border-right: 0.05em solid;
        }
    }
}

/* 768px -----------------------------------
----------------------------------------- */
@media only screen and (min-width: 768px) {

    article {
        border-left: 0.05em solid;
    }

    .article1 {
        width: 31%;
        float: left;
    }

    .article2 {
        width: 31%;
        float: left;
    }

    .article3 {
        width: 31%;
        float: left;
        border-right: 0.05em solid;
    }

}



